C:\Users\olegator\Documents\GitHub\Calculator\Calculator\.vs
C:\Users\olegator\Documents\GitHub\Calculator\Calculator\Calculator\MyInteraface
C:\Users\olegator\Documents\GitHub\Calculator\Calculator\Calculator\obj
C:\Users\olegator\Documents\GitHub\Calculator\Calculator\Calculator\bin